.buttonBorderBlue {
  @apply text-theme-blue bg-transparent border-3 border-theme-blue rounded-5px
    transition duration-300 ease-out
    hover:bg-theme-blue hover:text-white;
}

.buttonBigBorderBlue {
  @apply text-theme-blue bg-transparent border-3 border-theme-blue rounded-8px
    transition duration-300 ease-out
    hover:bg-theme-blue hover:text-white;
}

.buttonBlue {
  @apply text-white bg-theme-blue rounded-6px 
    transition duration-300 ease-out 
    hover:bg-button-blue-hover;
}

.buttonScaled {
  @apply text-theme-blue bg-white rounded-6px 
    transition-spacing duration-150 delay-200 ease-out 
    hover:py-11px hover:px-37px;
}

.buttonBorderWhite {
  @apply text-white bg-transparent border-3 border-white rounded-5px 
    transition duration-300 ease-out 
    hover:bg-button-light-blue-hover hover:border-button-light-blue-hover;
}

.buttonLightBlue {
  @apply text-white bg-theme-light-blue rounded-8px 
    transition duration-300 ease-out 
    hover:bg-button-light-blue-hover;
}

.joinButton {
  @apply text-white bg-theme-blue pt-12px pb-15px
  transition duration-300 ease-out
  hover:bg-button-blue-hover;
  box-shadow: 0px -6px 10px #00000022;
}

.signInButton {
  @apply text-white bg-theme-blue pt-12px pb-15px
  transition duration-300 ease-out
  hover:bg-button-blue-hover;
  box-shadow: inset 6px 3px 10px #00000029;
}

.focusOutline:focus-visible,
.focusOutline:focus {
  box-shadow: 0px 0px 0px 2px #000000;
}
